.fieldset {
  background-color: var(--white-bg-transparent);

  max-width: 325px;
  height: 90vh;
  padding: 1rem;

  /* border: 2px solid rgb(184, 184, 184); */
  border: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  /* box-shadow: var(--border-box-shadow); */
  box-shadow: var(--border-box-shadow3);
}

.legend {
  font-size: 1.25rem;
}

.generationList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  /* padding-left: 1rem; */
}

.generationList > label {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  cursor: pointer;

  transition: all 200ms ease-in-out;
  padding-left: 0.25rem;
}

label:hover {
  color: red;
  transform: scale(1.2);
}

input[type="radio"] {
  /* hide radio style */
  appearance: none;
  padding-left: 30px;
}

label {
  width: 190px;
  height: 35px;

  border-radius: 3px;
  box-shadow: var(--border-box-shadow2);
}

label:has(input:checked)::before  {
  content: url('/Poke_Ball.png');
  position: absolute;
}

span {
  width: 24px;
  height: 24px;
}