@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* CSS reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Main */
:root {
  --white-bg-transparent: rgba(255, 255, 255, 0.8);
  --black-bg-transparent: rgba(0, 0, 0, 0.25);
  --border-box-shadow: -3px 0 0 0 black,
                        3px 0 0 0 black,
                        0 -3px 0 0 black,
                        0 3px 0 0 black;
  --border-box-shadow2: -2px 0 0 0 black,
                        2px 0 0 0 black,
                        0 -2px 0 0 black,
                        0 2px 0 0 black;
  --border-box-shadow3: 5px 5px 0px 0px rgba(0, 0, 0, 0.4), 
                        10px 10px 0px 0px rgba(0, 0, 0, 0.3), 
                        15px 15px 0px 0px rgba(0, 0, 0, 0.2), 
                        20px 20px 0px 0px rgba(0, 0, 0, 0.1);
  --border-box-shadow4: -1px 0 0 0 black,
                        1px 0 0 0 black,
                        0 -1px 0 0 black,
                        0 1px 0 0 black,
                        5px 5px 0px 0px rgba(0, 0, 0, 0.4), 
                        8px 8px 0px 0px rgba(0, 0, 0, 0.3), 
                        11px 11px 0px 0px rgba(0, 0, 0, 0.2), 
                        15px 15px 0px 0px rgba(0, 0, 0, 0.1);

  font-family: 'Sometype Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: #5d6580;
}